.tickets{
    position: relative;
    padding: 2rem 0;
}
.tickets .text{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.tickets .text h1{
    font-size: 2.3rem;
   font-weight: 700;
   line-height: 49px;
   text-align: center;
}
.tickets  .text b{
    border-bottom: 1px solid #FA5A19;
    width: 100px;
    text-align: center;
    margin-bottom: 2rem;
}
.tickets  .text p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.tickets .box_area_1{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
}
.tickets .box{
    position: relative;
    border: 1px solid #005595;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}
.tickets .box .head{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    max-height: 300px;
    width: 100%;
    height: 100%;
}
.tickets .box_1 .head{
    background-color: #005595;

}
.tickets .box_2 .head{
    background-color: #893D00;

}
.tickets .box_3 .head{
    background-color: #555555;

}
.tickets .box .head .img{
    width: 100%;
    height: 100%;
    max-width: 100px;
}
.tickets .box .head .img img{
    width: 100%;
    height: 100%;
}
.tickets .box .head .head_text{
    position: relative;
    margin-bottom: 2rem;
}
.tickets .box .head .head_text p:nth-child(1){
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.tickets .box .head .head_text p:nth-child(2){
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center; 
}
.tickets .box .body_text{
    position: relative;
    padding: 1rem;
}
.tickets .box .body_text p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.tickets .box .body_text p span{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.tickets .box .body_text .pricing{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tickets .box .body_text .pricing .price{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.tickets .box .body_text .pricing .price p:nth-child(1){
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-bottom: 1.7rem;
}
.tickets .box .body_text .pricing .price p:nth-child(2){
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    /* margin-bottom: 2rem; */
}

.tickets .box .body_text .pricing p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.tickets .box .foot_text{
    margin-top: 2rem;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}
.tickets .box .foot_text a{
    text-align: center;
    border: 2px solid #FA5A19;
    color: #FA5A19;
    padding: 0.8rem 4rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
.tickets .box .foot_text a:hover{
   border: 2px solid transparent;
   background-color: #FA5A19;
   color: #fff;
}


/* ------------------------------------------------------ */ */
.ticket_end{
    padding: 2rem 0;
    position: relative;
}
.ticket_end .head_text{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    flex-direction: column;
    position: relative;
}
.ticket_end .head_text h1{
    font-size: 2.3rem;
   font-weight: 700;
   line-height: 49px;
   text-align: center;
}
.ticket_end .head_text b{
    border-bottom: 1px solid #FA5A19;
    width: 100px;
    text-align: center;
    margin-bottom: 2rem;
}

.ticket_end .body_text {
    position: relative;
}
.ticket_end .body_text p{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.ticket_end .body_text .mini_text{
    position: relative;
}
.ticket_end .body_text .mini_text h3{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}
.ticket_end .body_text .mini_text p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.ticket_end .body_text .mini_footer_text{
    margin-top: 2rem;
}
.ticket_end .body_text .mini_footer_text p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-bottom: 2rem;
    color: #005595;
}
.ticket_end .body_text .mini_footer_text p:nth-child(2){
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 2rem;
}


.ticket_end .foot_text{
    margin-top: 2rem;
    position: relative;
    text-align: center;
}
.ticket_end .foot_text a{
    text-align: center;
    border: 2px solid #FA5A19;
    color: #FA5A19;
    padding: 1rem 4rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
.ticket_end .foot_text a:hover{
   border: 2px solid transparent;
   background-color: #FA5A19;
   color: #fff;
}